@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2rem;
}

.container {
  max-width: 50rem;
  min-width: 30rem;
}

h1 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.add-clock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#timezone-select {
  flex: 1;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
}

#clock-list {
  margin-top: 10px;
}

.clock-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
